a{
  color: white;
}
body{
  font-family: Helvetica;
  font-weight: bold;
  text-align: center;
}

h1{
  font-size: 70px;
}

h2{
  font-size: 32px;
}

h3{
  font-size: 23px;
}

nav{
  font-size: 18px;
}

p{
  font-size: 14px;
  font-weight: normal;
}

.footer{
  background-color: dimgrey;
  color: white;
  font-size: 11px;
  text-align: left;
}

.header{
  background-image: url("../images/the-flatiron-building.png");
  color: white;
}

.tag{
  background-image: url("../images/the-flatiron-building.png");
  color: white;
  font-size: 23px;
}
